<div data-role="view" id="share" data-layout="default" data-transition="overlay:down" class="add-activity-view"
    data-init="app.AddActivity.init" data-show="app.AddActivity.show" data-model="app.AddActivity">
    <!--<div data-role="header">
        <div data-role="navbar">
            Friends
            <a class="nav-button" data-align="left" data-role="backbutton">Cancel</a>
            <a class="nav-button" data-align="right" data-role="button" data-bind="click: saveActivity">Done</a>
        </div>
    </div>-->
    <div data-role="header">
        <div data-role="navbar" style="background: #000000">
            <img src="styles/images/UZONE_Logo_Transparent_Small.png" />
            <!--<span data-align="right">HI&nbsp;</span><span id="lbname" data-align="right" data-bind="text: displayName"></span>
            <div class="user-image">
                <img src="styles/images/avatar.png">
            </div>-->
            <a class="nav-button" data-align="left" data-role="backbutton">Cancel</a>
            <a class="nav-button" data-align="right" data-role="button" data-bind="click: saveActivity">Done</a>
        </div>
    </div>
    <div id="enterStatus" class="share-form-wrp" data-role="listview" data-style="inset">
        <div class="user-share">
            <textarea id="newStatus" placeholder="What's on your mind?" required validationMessage="Group name is required!"></textarea>
        </div>
    </div>
</div>
