<div data-role="view" id="module" data-model="app.Module" data-init="app.Module.init" data-layout="default">
    <div data-role="header">
        <div data-role="navbar" style="background: #000000">
            <img style="float:left" src="styles/images/UZONE_Logo_Transparent_Small.png" />
            <span data-align="right">HI&nbsp;</span><span id="lbname" data-align="right" data-bind="text: displayName"></span>
            <div class="user-image">
                <img src="styles/images/avatar.png">
                 <img data-bind="attr:{src: User().PictureUrl}" alt="#: User().DisplayName #">
            </div>
        </div> 
    </div>
    <table class="moduleTable">
        <tr>
            <td>
                <a class="fa moduleButton" data-role="button" data-bind="events: { click: profile }" data-icon="profile"></a>
            </td>
            <td>
                <a class="fa moduleButton" data-role="button" data-bind="events: { click: chat }" data-icon="chat"></a>
            </td>
            <td>
                <a class="fa moduleButton" data-role="button" data-bind="events: { click: scheduler }" data-icon="calendar"></a>
            </td>            
        </tr>
        <tr>
            <td class="moduleText">Profile</td>            
            <td class="moduleText">Chat</td>
            <td class="moduleText">Scheduler</td>
        </tr>
        <tr>
            <td>
                <a class="fa moduleButton" data-role="button" data-bind="events: { click: favorites }" data-icon="favorites"></a>
            </td>
            <td>
                <a class="fa moduleButton" data-role="button" data-bind="events: { click: settings }" data-icon="settings"></a>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="moduleText">Favorites</td>
            <td class="moduleText">Settings</td>
            <td></td>
        </tr>
    </table>
    <div data-role="footer">
        <div data-role="navbar" style="background: #000000">
            &nbsp;
        </div>
    </div>
</div>