<div data-role="view" id="view-all-events" data-layout="default" data-init="app.Events.init" class="activities-view" data-show="app.Events.show" data-model="app.Events">
    <div data-role="header">
        <div data-role="navbar" style="background: #000000">
            <div class="headerMenu">
                <div style="float:left">
                    <a href="#app-drawer-manage" data-rel="drawer" data-role="button" style="color:white" data-icon="menu"></a>
                </div>
                <div style="float:left;position:relative;left:50%;height:16px;">
                    <div style="float:left;left:-100%;position:relative">
                        <img src="styles/images/UZONE_Logo_Transparent_Header.png" />
                    </div>
                </div>
                <div style="float:right">
                    <div class="user-image">
                        <img data-bind="attr:{src: avatarUri}" alt="#: displayName #">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul data-role="listview" data-source="events" data-template="eventsTemplate"  data-fixed-headers="true" id="scheduleList" >
        </ul>       
    </div>
    <div data-role="footer">
        <div data-role="navbar" style="background: #000000">
            <a href="#app-drawer-month" data-rel="drawer" data-role="button" data-align="left" style="color:white" data-icon="details">Change Month</a>
            <a class="nav-button nav-button-icon nav-button-back-d hide-text" data-align="right" data-role="backbutton">Back</a>
        </div>
    </div>
</div>
<div data-role="drawer" id="app-drawer-month" data-model="app.Events">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title">Select another Month</span>
        </div>
    </div>
    <ul data-role="listview">
        <li><a href="#view-all-events?month=1" data-icon="add">January</a>
        </li>
        <li><a href="#view-all-events?month=2" data-icon="add">February</a>
        </li>
        <li><a href="#view-all-events?month=3" data-icon="add">March</a>
        </li>
        <li><a href="#view-all-events?month=4" data-icon="add">April</a>
        </li>
        <li><a href="#view-all-events?month=5" data-icon="add">May</a>
        </li>
        <li><a href="#view-all-events?month=6" data-icon="add">June</a>
        </li>
        <li><a href="#view-all-events?month=7" data-icon="add">July</a>
        </li>
        <li><a href="#view-all-events?month=8" data-icon="add">August</a>
        </li>
        <li><a href="#view-all-events?month=9" data-icon="add">September</a>
        </li>
        <li><a href="#view-all-events?month=10" data-icon="add">October</a>
        </li>
        <li><a href="#view-all-events?month=11" data-icon="add">November</a>
        </li>
        <li><a href="#view-all-events?month=12" data-icon="add">December</a>
        </li>
    </ul>
</div>
<!-- Events ListView Template -->
<script type="text/x-kendo-template" id="eventsTemplate">
    <div data-role="touch">
        <div class="activity-content">
            <a class="event-subj-txt" id="eventSubject">#: EventSubject #</a>
            <span class="event-loc-txt">#: EventLocationID #</span>
            <a class="event-desc-txt">#: EventDescription #</a>
            <span class="time-span">#: EventStart #&nbsp;-&nbsp; #: EventEnd#</span>
            <a data-align="right" data-role="button" class="chat-btn" onclick="createChat('#: EventSubject #')">Chat Now</a>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="header-template">
    #: value #
</script>
<script>
    function createChat(subject) {
        var activities = app.Activities.activities;
        var activity = activities.add();

        activity.Text = subject;
        activity.UserId = app.Users.currentUser.get('data').Id;

        activities.one('sync', function () {
            app.mobileApp.navigate('views/activitiesView.html');
        });

        activities.sync();
    }
</script>
<script>
    var switchInstance = $("#switch").kendoMobileSwitch({
        onLabel: "Y",
        offLabel: "N"
    });
</script>